<%= form_with model: @team, html: { multipart: true } do |f| %>
    <div class="field">
		<%= f.label :nome %> 
		<%= f.text_field :nome %> <br/>
	</div>
	<div class="field">
		<%= f.label :escudo %>
		<%= f.file_field :escudo %>
	</div>
<%= f.submit "Confirmar", class:  'btn btn-secondary btn-sm' %>
<% end %>